:root {
  --ch-0: dark;
  --ch-1: #8B949E;
  --ch-2: #79C0FF;
  --ch-3: #FFA657;
  --ch-4: #C9D1D9;
  --ch-5: #D2A8FF;
  --ch-6: #7EE787;
  --ch-7: #FF7B72;
  --ch-8: #A5D6FF;
  --ch-9: #FFA198;
  --ch-10: #F0F6FC;
  --ch-11: #490202;
  --ch-12: #04260F;
  --ch-13: #5A1E02;
  --ch-14: #161B22;
  --ch-15: #8B949E;
  --ch-16: #0D1117;
  --ch-17: #264F78;
  --ch-18: #3794FF;
  --ch-19: #FFFFFF0B;
  --ch-20: #6E7681;
  --ch-21: #010409;
  --ch-22: #30363D;
  --ch-23: #F78166;
  --ch-24: #6E768166;
  --ch-25: #6E76811A;
} 

[data-theme="light"] {
  --ch-0: light;
  --ch-1: #6E7781;
  --ch-2: #0550AE;
  --ch-3: #953800;
  --ch-4: #24292F;
  --ch-5: #8250DF;
  --ch-6: #116329;
  --ch-7: #CF222E;
  --ch-8: #0A3069;
  --ch-9: #82071E;
  --ch-10: #F6F8FA;
  --ch-11: #FFEBE9;
  --ch-12: #DAFBE1;
  --ch-13: #FFD8B5;
  --ch-14: #EAEEF2;
  --ch-15: #57606A;
  --ch-16: #FFFFFF;
  --ch-17: #ADD6FF;
  --ch-18: #1A85FF;
  --ch-19: #FDFF0033;
  --ch-20: #8C959F;
  --ch-21: #F6F8FA;
  --ch-22: #D0D7DE;
  --ch-23: #FD8C73;
  --ch-24: #AFB8C133;
  --ch-25: #EAEEF280;
}