:root {
  --ch-0: dark;
  --ch-1: #212121;
  --ch-2: #EEFFFF;
  --ch-3: #C3E88D;
  --ch-4: #89DDFF;
  --ch-5: #FF9CAC;
  --ch-6: #F78C6C;
  --ch-7: #82AAFF;
  --ch-8: #C792EA;
  --ch-9: #F07178;
  --ch-10: #FFCB6B;
  --ch-11: #545454;
  --ch-12: #B2CCD6;
  --ch-13: #EEFFFF90;
  --ch-14: #61616150;
  --ch-15: #3794FF;
  --ch-16: #424242;
  --ch-17: #FFFFFF;
  --ch-18: #616161;
  --ch-19: #00000030;
  --ch-20: #FFFFFF;
} 

[data-theme="light"] {
  --ch-0: light;
  --ch-1: #FAFAFA;
  --ch-2: #90A4AE;
  --ch-3: #91B859;
  --ch-4: #39ADB5;
  --ch-5: #FF5370;
  --ch-6: #F76D47;
  --ch-7: #6182B8;
  --ch-8: #9C3EDA;
  --ch-9: #E53935;
  --ch-10: #E2931D;
  --ch-11: #90A4AE;
  --ch-12: #8796B0;
  --ch-13: #90A4AE90;
  --ch-14: #80CBC440;
  --ch-15: #1A85FF;
  --ch-16: #CFD8DC;
  --ch-17: #000000;
  --ch-18: #7E939E;
  --ch-19: #CCD7DA50;
  --ch-20: #B1C7D3;
}